################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CAZ Project
/Xappy
/xamarin-mvvm-demo
/UnboxedList
/Senior_Design
/FinancialServiceDatabaseProject
/ePortfolio
/EECE3093C-SP22-Lab1
